<div id="formulaire" class="mt-5 container">
  <h2>Ajouter une planète</h2>
  <form #formPlanetValidation="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Id de la planète</label>
      <input type="number" id="idTest" class="form-control" required name="id" #id="ngModel"
            [(ngModel)]="planetForm.id">
      <div *ngIf="!id.valid" class="error">
        <p class="text-warning">Erreur ce n'est pas un ID</p>
      </div>
    </div>

    <div class="form-group">
      <label>Nom de la planète</label>
      <input type="text" id="nomTest" class="form-control" required name="nom" #nom="ngModel"
            [(ngModel)]="planetForm.name">
      <div *ngIf="!nom.valid" class="error">
        <p class="text-warning">Erreur ce n'est pas un nom</p>
      </div>
    </div>

    <div class="form-group">
      <label>Y a-t-il de l'oxygène ?</label>
      <select required id="oxygenTest" class="form-control"
              [(ngModel)]="planetForm.hasOxygen" name="oxygen">
        <option *ngFor="let choice of yesNoItem" [ngValue]="choice.valeur" >{{ choice.text }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Image de la planète</label>
      <input type="text" id="imgTest" class="form-control"
            required name="image" #image="ngModel"
            [(ngModel)]="planetForm.image">
      <div *ngIf="!image.valid" class="error">
        <p class="text-warning">Erreur ce n'est pas une image</p>
      </div>
    </div>

    <button [disabled]="!formPlanetValidation.valid" id="submitFormPlanet" class="btn btn-success" type="submit">Enregistrer la planète</button>
  </form>
</div>